@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 37 99 235;
  --color-primary-hover: 29 78 216;
}

.theme-green {
  --color-primary: 22 163 74;
  --color-primary-hover: 21 128 61;
}

.theme-purple {
  --color-primary: 147 51 234;
  --color-primary-hover: 126 34 206;
}
